@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-100: #dddddc;
  --color-primary-200: #898984;
  --color-primary-300: #797872;
  --color-primary-400: #686761;
  --color-primary-500: #57564f;
  --color-primary-600: #4e4d47;
  --color-primary-700: #46453f;
  --color-primary-800: #3d3c37;
  --color-primary-900: #34342f;

  --color-secondary-100: #fff2c2;
  --color-secondary-200: #fff0b8;
  --color-secondary-300: #ffedae;
  --color-secondary-400: #ffeba4;
  --color-secondary-500: #ffe99a;
  --color-secondary-600: #e6d28b;
  --color-secondary-700: #ccba7b;
  --color-secondary-800: #b3a36c;
  --color-secondary-900: #998c5c;

  --font-primary: "Anton", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --spacing-48: 12rem; /* p-48 */
  --spacing-50: 50px;
}
html {
  scroll-behavior: smooth;
}

.bg-custom {
  position: relative;
  overflow: hidden;
}

.bg-custom::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 25%;
  width: 75%; /* sadece içerik alanı */
  background:
    linear-gradient(
      to left,
      rgb(87, 86, 79, 0.9),
      rgb(87, 86, 79, 0.8),
      rgb(87, 86, 79, 0.7)
    ),
    url("../src/assets/headerImg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bg-custom::before {
    width: 100%; /* sadece içerik alanı */
  }
}

/* HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: fixed;
  top: 50px;
  right: 50px;
}

.hamburger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -13px;
  left: -9px;
  background: #ffe99a;
  border-radius: 50%;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  /* position: fixed;
  top: 25px;
  right: 25px; */
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #000;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #000;
}

.title {
  @apply text-primary-900 mb-8 text-2xl font-bold md:text-3xl lg:text-5xl;
}

.subtitle {
  @apply text-primary-900 text-xl font-bold md:text-2xl lg:text-3xl;
}

.main-text {
  @apply text-primary-900 text-sm md:text-lg lg:text-xl;
}

.btn {
  @apply bg-secondary-500 font-secondary hover:bg-secondary-700 w-[200px] rounded-3xl p-2 text-lg text-black transition-all duration-300 ease-in-out;
}

.section-padding {
  @apply px-10 py-20;
}
